<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 해당경로의 클래스를 'alias' 정의로 사용하겠다. -->
	<typeAliases>
		<!-- <typeAlias type="test.spring.bean.day3.TestDTO" alias="testDTO" /> -->
		<typeAlias type = "bean.question.qDTO" alias = "qDTO"/>
		<typeAlias type = "bean.question.pDTO" alias = "pDTO"/>
		<typeAlias type = "bean.item.value.ItemValueDTO" alias = "IVDTO"/>
		<typeAlias type = "bean.item.name.ItemNameDTO" alias = "ItemNameDTO"/>
		<typeAlias type = "bean.main.MemberDTO" alias = "memberDTO"/>
		<typeAlias type = "bean.healthy.HealthyDTO" alias = "HealthyDTO" />
		<typeAlias type = "bean.healthy.CrawlingDTO" alias = "CrawlingDTO" />
		<typeAlias type = "bean.myPage.WishlistDTO" alias = "wishlistDTO" />
		<!-- <typeAlias type = "bean.userManager.UserManagerDTO" alias = "UserManagerDTO" /> -->
		
	</typeAliases>
	
	<!-- SQL작성하는 공간(파일) mybatis에서 사용하는 sql파일은 모두 나열한다. -->
	<mappers>
		<mapper resource="/sql/item_value.xml" />
		<mapper resource="/sql/qSQL.xml" />
		<mapper resource="/sql/memberSQL.xml"/>
		<mapper resource="/sql/item_name.xml"/>
		<mapper resource="/sql/healthySQL.xml" />
		<mapper resource="/sql/crawlingSQL.xml" />
		<mapper resource="/sql/mainSQL.xml" />
		<!-- <mapper resource="/sql/userManagerSQL.xml" /> -->
	</mappers>
</configuration>